<div class="filters">
  <h2 class="filters__title-h2">ваши характеристики</h2>
  <div class="filters-wrap">
    <div class="filters-item">
      <h3 class="filters__title-h3">Объём парильного помещения</h3>
      <div class="filters-item-cont">
        <fieldset class="filters-checkbox">
          <input id="checkbox-V-5" class="filters-checkbox__input" type="checkbox" value="5">
          <label class="filters-checkbox__label" for="checkbox-V-5">5 м2</label>
        </fieldset>
        <fieldset class="filters-checkbox">
          <input id="checkbox-V-10" class="filters-checkbox__input" type="checkbox" value="5">
          <label class="filters-checkbox__label" for="checkbox-V-10">10 м2</label>
        </fieldset>
        <fieldset class="filters-checkbox">
          <input id="checkbox-V-15" class="filters-checkbox__input" type="checkbox" value="5">
          <label class="filters-checkbox__label" for="checkbox-V-15">15 м2</label>
        </fieldset>
        <fieldset class="filters-checkbox">
          <input id="checkbox-V-20" class="filters-checkbox__input" type="checkbox" value="5">
          <label class="filters-checkbox__label" for="checkbox-V-20">20 м2</label>
        </fieldset>
      </div>
    </div>
    <div class="filters-item">
      <h3 class="filters__title-h3">место размещения</h3>
      <div class="filters-item-cont">
        <fieldset class="filters-checkbox">
          <input id="place-1" class="filters-checkbox__input" type="checkbox" value="5">
          <label class="filters-checkbox__label" for="place-1">5 м2</label>
        </fieldset>
        <fieldset class="filters-checkbox">
          <input id="place-2" class="filters-checkbox__input" type="checkbox" value="5">
          <label class="filters-checkbox__label" for="place-2">10 м2</label>
        </fieldset>
      </div>
    </div>
    <div class="filters-item">
      <h3 class="filters__title-h3">тип стали</h3>
      <div class="filters-item-cont">
        <fieldset class="filters-checkbox">
          <input id="steel-1" class="filters-checkbox__input" type="checkbox" value="5">
          <label class="filters-checkbox__label" for="steel-1">Нержавейка</label>
        </fieldset>
        <fieldset class="filters-checkbox">
          <input id="steel-2" class="filters-checkbox__input" type="checkbox" value="5">
          <label class="filters-checkbox__label" for="steel-2">Углеродистая сталь</label>
        </fieldset>
      </div>
    </div>
    <div class="filters-item">
      <h3 class="filters__title-h3">Внутренняя каменка</h3>
      <div class="filters-item-cont">
        <fieldset class="filters-checkbox">
          <input id="heater-1" class="filters-checkbox__input" type="checkbox" value="5">
          <label class="filters-checkbox__label" for="heater-1">5 м2</label>
        </fieldset>
        <fieldset class="filters-checkbox">
          <input id="heater-2" class="filters-checkbox__input" type="checkbox" value="5">
          <label class="filters-checkbox__label" for="heater-2">10 м2</label>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="filters-optional">
    <h3 class="filters-optional__text"><i class="filters-optional_icon icon_equip"></i>Доп. оборудование</h3>
    <h3 class="filters-optional__text"><i class="filters-optional_icon icon_grill"></i>Грили</h3>
    <h3 class="filters-optional__text"><i class="filters-optional_icon icon_stone-oven"></i>Отопительные печи</h3>
  </div>
</div>