<div class="left-side">
  <div class="left-side-inner">
    <div class="left-side-header">
      <div class="logo">
        <a href="/" title="grill'd">
          <img class="logo__img" src="img/logo.svg" alt="">
        </a>
      </div>
      <div class="phone">
        <p class="phone__text"><i class="icon__phone"></i>8 (800) 700-58-32</p>
      </div>
    </div>
    <div class="left-side-body">
      <blockquote class="left-side__blockquote">
        <i class="left-side__blockquote__text">Мы должны стать опорой для нашей страны,производя товары только высокого качества, показать, что величия для всех можно достичь, создавая лучшее.</i>
      </blockquote>
      <p class="left-side__name">…Сергей Смирнов</p>
      <a href="./catalog.html" class="btn btn_red">В каталог</a>
    </div>
    <div class="social">
      <a href="#0" class="social__btn social__btn_vk"></a>
      <a href="#0" class="social__btn social__btn_fb"></a>
      <a href="#0" class="social__btn social__btn_inst"></a>
      <a href="#0" class="social__btn social__btn_google"></a>
      <a href="#0" class="social__btn social__btn_mail"></a>
      <a href="#0" class="social__btn social__btn_rss"></a>
    </div>
    @@include('./filters.html')
    @@include('./product-nav.html')
  </div>
</div>