<div class="product-list-wrap">
  <div class="product-list">
    <div class="product-list-item">
      <i class="icon icon_sauna"></i>
      <p class="product-list__text">Банные печи</p>
    </div>
    <div class="product-list-item">
      <i class="icon icon_stone-oven"></i>
      <p class="product-list__text">Отопительные печи</p>
    </div>
    <div class="product-list-item">
      <i class="icon icon_grill"></i>
      <p class="product-list__text">Грили барбекю</p>
    </div>
    <div class="product-list-item">
      <i class="icon icon_equip"></i>
      <p class="product-list__text">Доп. оборудование</p>
    </div>
  </div>
  <div class="product-list-watched">
    <h3 class="product-list-watched__title">Вы смотрели</h3>
    <div class="product-list-watched-list">
      <div class="product-list-watched-item">
        <div class="product-list-watched-item__img" style="background-image: url(../img/product-1.jpg)"></div>
        <p class="product-list-watched-item__text">Grill’D Aurora 160 short black</p>
      </div>
      <div class="product-list-watched-item">
        <div class="product-list-watched-item__img" style="background-image: url(../img/product-2.jpg)"></div>
        <p class="product-list-watched-item__text">Grill’D Aurora 160 Trio short b</p>
      </div>
    </div>
  </div>
</div>