</div>
<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/main.js" type="text/javascript" charset="utf-8" defer></script>
<link rel="stylesheet" href="css/swiper.css">
<script src="js/swiper.min.js" type="text/javascript" charset="utf-8" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js" charset="utf-8" defer></script>
</body>

</html>