<div class="mobile">
  <div class="mobile-wrap">
    <h1 class="product-content__title">Grill’D Aurora 160 long black</h1>
  </div>
  <div class="product-slider _product-slider _product-slider_mobile">
    <div class="gallery-top-wrap">
      <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
          <img class="slider__img-main swiper-slide" src="./img/product-1/img-1.jpg" alt="">
          <img class="slider__img-main swiper-slide" src="./img/product-1/img-2.jpg" alt="">
          <img class="slider__img-main swiper-slide" src="./img/product-1/img-3.jpg" alt="">
          <img class="slider__img-main swiper-slide" src="./img/product-1/img-4.jpg" alt="">
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
  <div class="mobile-wrap">
    <div class="product-price">
      <h2 class="product-price__title">16 990 ₽</h2>
      <p class="product-price__text">*Рекомендованная розничная цена в России</p>
      <button class="btn btn_red">Купить</button>
      <p class="product-price__location"><i class="icon icon_loc"></i>Купить в Вашем регионе</p>
    </div>
    <div class="product-content-wrap _product-content-wrap">
      <p class="product-content__text">Объем парильного помещения:
        <b class="product-content__b">6-16 м3</b>
      </p>
      <p class="product-content__text">Для растопки из смежного помещения</p>
      <p class="product-content__text">Цвет:
        <b class="product-content__b">топка, кожух-конвектор и дверца – черный</b>
      </p>
      <p class="product-content__text">Дверца стальная с термостойким стеклом Robax® толщиной 4 мм, диагональю 27 см</p>
      <p class="product-content__text">Масса камней –
        <b class="product-content__b">58 кг</b>
      </p>
      <p class="product-content__text">Габариты: ш×в×г –
        <b class="product-content__b">460×782×725</b>
      </p>
      <p class="product-content__text">Диаметр дымохода –
        <b class="product-content__b">Ø115 мм</b>
      </p>
      <p class="product-content__text">Масса печи –
        <b class="product-content__b">46 кг</b>
      </p>
      <p class="product-content__text">Максимальная длина поленьев –
        <b class="product-content__b">390 мм</b>
      </p>
      <p class="product-content__text">Материал топки:
        <b class="product-content__b">сталь повышенной прочности, ГОСТ 19281, толщина 3-5 мм</b>
      </p>
      <p class="product-content__text">
        <b class="product-content__b">Срок службы не менее 7 лет **</b>
      </p>
    </div>
    <span class="product-more _product-more">Показать все характеристики</span>
    <div class="product-filters">
      <fieldset class="product-filters-fieldset">
        <label class="product-filters__label">Цвет каменки</label>
        <div class="select-wrap">
          <select class="hidden">
            <option value="0">Выбрать из списка</option>
            <option value="0">Металлический космос</option>
            <option value="0">Черный</option>
            <option value="0">Черный амолед</option>
            <option value="0">Белый снег</option>
          </select>
        </div>
      </fieldset>
      <fieldset class="product-filters-fieldset">
        <label class="product-filters__label">Цвет каменки</label>
        <div class="select-wrap">
          <select class="hidden">
            <option value="0">Выбрать из списка</option>
            <option value="0">Металлический космос</option>
            <option value="0">Черный</option>
            <option value="0">Черный амолед</option>
            <option value="0">Белый снег</option>
          </select>
        </div>
      </fieldset>
      <fieldset class="product-filters-fieldset">
        <label class="product-filters__label">Цвет каменки</label>
        <div class="select-wrap">
          <select class="hidden">
            <option value="0">Выбрать из списка</option>
            <option value="0">Металлический космос</option>
            <option value="0">Черный</option>
            <option value="0">Черный амолед</option>
            <option value="0">Белый снег</option>
          </select>
        </div>
      </fieldset>
      <fieldset class="product-filters-fieldset">
        <label class="product-filters__label">Цвет каменки</label>
        <div class="select-wrap">
          <select class="hidden">
            <option value="0">Выбрать из списка</option>
            <option value="0">Металлический космос</option>
            <option value="0">Черный</option>
            <option value="0">Черный амолед</option>
            <option value="0">Белый снег</option>
          </select>
        </div>
      </fieldset>
    </div>
    <div class="similar-products-wrap">
      <h3 class="product-body__title">С этим товаром покупают</h3>
      <div class="similar-products">
        <div class="similar-products-item">
          <div class="similar-products__img-wrap">
            <img class="similar-products__img" src="./img/product-1/similar-product-1.jpg"></img>
          </div>
          <div>
            <p class="similar-products__text">Grill`D усиление камеры горения</p>
            <p class="similar-products__price">16 990 ₽</p>
          </div>
        </div>
        <div class="similar-products-item">
          <div class="similar-products__img-wrap">
            <img class="similar-products__img" src="./img/product-1/similar-product-2.jpg"></img>
          </div>
          <div>
            <p class="similar-products__text">Grill`D усиление камеры горения</p>
            <p class="similar-products__price">16 990 ₽</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-body-wrap">
    <p class="product-body__title-1 _product-body__title">Описание
      <span class="select__arrow"></span>
    </p>
    <div class="product-body-cont mobile-wrap">
      <div class="product-body-block">
        <h3 class="product-body__title">Отзывы</h3>
        <div class="product-body-list _product-body-list-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-1.jpg" alt="">
              </div>
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-2.jpg" alt="">
              </div>
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-3.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-body-block">
        <h3 class="product-body__title">Обзоры</h3>
        <div class="product-body-list _product-body-list-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-4.jpg" alt="">
              </div>
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-5.jpg" alt="">
              </div>
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-2.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-body-block">
        <h3 class="product-body__title">Описание Aurora</h3>
        <p class="product-body__text">Сталкиваясь с выбором, очень часто задумываетесь: «Может недорогое быть хорошим!?»</p>
        <p class="product-body__text">Мы разрушили жестокие стереотипы! Банная печь Grill’D™ Aurora создана для любого кошелька, и отвечает всем необходимым требованиям:</p>
        <ul class="product-body-ul">
          <li class="product-body-li">Это незабываемый дизайн.</li>
          <li class="product-body-li">Идеальная функциональность и надежность конструкции.</li>
          <li class="product-body-li">Размер дров и количество камней в каменке не уступают более дорогим печам.</li>
        </ul>
        <p class="product-body__text">Традиции – не место для экспериментов, мы изготавливаем печи Grill’D™ Aurora из специальной стали повышенной прочности 09Г2С (ГОСТ 19281-2014), для обеспечения эксплуатации печи в течение длительного времени. Топка Grill’D™ Aurora наделена избыточной прочностью, не подвержена деформации благодаря конструкционным решениям и свойствам применяемой стали толщиной в наиболее ответственных местах до 5 мм.</p>
        <p class="product-body__text">Банная печь Grill’D™ Aurora - ее легко получить, но тяжело с ней расстаться!</p>
        <p class="product-body__text">
          <span class="product-body__span">** - срок службы является расчетным, при условии соблюдения требований инструкции по эксплуатации. Гарантийный срок на изделие - 12 месяцев. Гарантийные условия описаны в п. 6 инструкции по эксплуатации</span>
        </p>
      </div>
      <img class="product-gif__img" src="./img/product-1/gif-product.jpg" alt="">
    </div>
    <p class="product-body__title-1 _product-body__title">Документация
      <span class="select__arrow"></span>
    </p>
    <div class="product-body-cont mobile-wrap">
      <div class="product-body-block">
        <div class="product-body__link-wrap">
          <a class="product-body__link" href="#0" target="_blank">Чертеж общего вида</a>
          <a class="product-body__link" href="#0" target="_blank">Руководство по эксплуатации</a>
          <a class="product-body__link" href="#0" target="_blank">Рекламная листовка</a>
          <a class="product-body__link" href="#0" target="_blank">Сертификат соответствия</a>
        </div>
      </div>
    </div>
    <p class="product-body__title-1 _product-body__title">Видео
      <span class="select__arrow"></span>
    </p>
    <div class="product-body-cont mobile-wrap">
      <div class="product-body-block">
        <h3 class="product-body__title">Обзоры</h3>
        <div class="product-body-list _product-body-list-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-1.jpg" alt="">
              </div>
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-2.jpg" alt="">
              </div>
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-3.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="product-body__title-1 _product-body__title">Фото продукции
      <span class="select__arrow"></span>
    </p>
    <div class="product-body-cont mobile-wrap">
      <div class="product-body-block">
        <div class="product-body-list">
          <div class="product-body-item">
            <a data-fancybox="gallery" href="./img/product-1/img-1.jpg">
              <img class="product-body-item__img" src="./img/product-1/img-1.jpg" alt="">
            </a>
          </div>
          <div class="product-body-item">
            <a data-fancybox="gallery" href="./img/product-1/img-2.jpg">
              <img class="product-body-item__img" src="./img/product-1/img-2.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <p class="product-body__title-1 _product-body__title">Отзывы
      <span class="select__arrow"></span>
    </p>
    <div class="product-body-cont mobile-wrap">
      <div class="product-body-block">
        <h3 class="product-body__title">Отзывы</h3>
        <div class="product-body-list _product-body-list-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-1.jpg" alt="">
              </div>
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-2.jpg" alt="">
              </div>
              <div class="swiper-slide product-body-item">
                <img class="product-body-item__img" src="./img/product-1/review-3.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>